@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

@import "tailwindcss";

/* Override Slick slider dots */
.slick-dots li button:before {
  color: #ffffff !important;      
  font-size: 12px !important;      
}

.slick-dots li.slick-active button:before {
  color: #facc15 !important;      
}